.front
{
	width:100%;
	position: relative;
}

li:hover > a 
{
	color: white;
}	

.base
{
	align-self: flex-end;
	width:100%;
	display: block;
	bottom: 0;
	position: absolute;
}

.right
{
	width:50%;
	float:right;
	height:50px;
}

.left
{
	width:50%;
	float:left;
	height:50px;
}

.wht1
{
	height: 0;
	width:0;
	height: 0;
	margin: 0;
	border-left: 1000px solid transparent;
	border-bottom: 50px solid white;
	float:right;
}

.wht2
{
	height: 0;
	width:0;
	height: 0;
	margin: 0;
	border-right: 1000px solid transparent;
	border-bottom: 50px solid white;
	float:left;
}